@import url("https://fonts.googleapis.com/css?family=Montserrat|Libre+Franklin");

$font-stack: "Montserrat", sans-serif;
$font-color-dark: black;
$font-color-hover: #919191;
$header-item-padding: 5px 5px 5px 5px;
$max-width: 1500px;
$small: "(max-width: 600px)";
$medium: "(max-width: 1000px)";
$app-padding-normal: 50px;
$app-padding-medium: 30px;
$app-padding-small: 10px;
$content-padding-top: 5em;
$content-padding-bottom: 3em;

.text-vertical-middle {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-baseline-middle;
  vertical-align: -o-baseline-middle;
}

@mixin background-image($url, $color) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url($url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $color;
}

// BODY

body {
  font-family: $font-stack;
  font-size: medium;
  color: $font-color-dark;
}

@media #{$small} {
  body {
    font-size: small;
  }
}

// APP

.app {
  padding: 0;
  max-width: $max-width;
}

// HEADER

.header {
  position: fixed;
  text-align: center;
  z-index: 1;
  max-width: $max-width;
  width: 100%;
  padding-right: $app-padding-normal;
  padding-left: $app-padding-normal;
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

@media #{$medium} {
  .header {
    padding-left: $app-padding-medium;
    padding-right: $app-padding-medium;
  }
}

@media #{$small} {
  .header {
    padding-left: $app-padding-small;
    padding-right: $app-padding-small;
  }
}

.name {
  @extend .text-vertical-middle;

  text-transform: uppercase;
  text-decoration: none;
  color: $font-color-dark;
  text-align: center;
  font-weight: bolder;
  padding: $header-item-padding;

  &:hover {
    text-decoration: none;
    color: $font-color-dark;
  }
}

.nav-list-main {
  position: absolute;
  margin: 0;
}

.nav-list {
  padding: 0;

  .item {
    @extend .text-vertical-middle;

    position: relative;
    padding: 0;
    display: inline-block;
    padding-right: 20px;

    a {
      padding: $header-item-padding;
      text-decoration: underline;
      color: $font-color-dark;
      background-color: none;
    }

    a.active {
      padding: $header-item-padding;
      // pointer-events: none;
      // cursor: default;
      text-decoration: none;
      color: white;
      background-color: black;
    }

    a.color.active {
      background-color: #15701c;
    }
  }
}

@media #{$small} {
  .name {
    float: right;
  }
}

// CONTENT

.content {
  padding-top: $content-padding-top;
  padding-bottom: $content-padding-bottom;
  position: relative;
  z-index: 0;
}

.left-right-padding {
  padding-right: $app-padding-normal;
  padding-left: $app-padding-normal;
}

@media #{$medium} {
  .left-right-padding {
    padding-left: $app-padding-medium;
    padding-right: $app-padding-medium;
  }
}

@media #{$small} {
  .left-right-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

// INDEX PAGE

.invisible {
  visibility: hidden;
}

.background-color {
  position: absolute;
  background-color: black;
}

.bio-row {
  margin-left: 0;
  margin-right: 0;
}

.index-background {
  position: absolute;
  opacity: 0.6;
  background: url(https://uo7h4g.bn1304.livefilestore.com/y4m3UQSSJ6Rd9A3nWmVSY03rhMjsiCnMRV5H5bIUsbgTJPoAMcd66MPQzx1vZ36M8KUeUijJH83N9szlMiOaKQ0sO4NixTgIFYB07U7Ur6rVmcDeauPe_j2OLVe3McgbFxaTQuSpNKj1QaVyb4qUHv7o6cdISL0Yb48OBefc4AZRXBYkOXEE0JodhlNQ8qVexZQODnJahW69O7f2OEOaxCt-A?width=1024&height=672&cropmode=none)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-page {
  padding-top: 40px;
}

.bio {
  padding-top: 4em;
  padding-bottom: 4em;
  opacity: 1;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

// FOOTER

.footer {
  font-size: small;
  width: 100%;
  max-width: $max-width;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.source-code {
  float: right;
}

// PHOTO GRID

@media #{$small} {
  .photo-filters {
    padding-left: $app-padding-small;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

// Style your items
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.grid-item {
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

// SINGLE PHOTO

.single-photo {
  text-align: center;

  img {
    max-height: calc(
      100vh - #{$content-padding-top + 2 * $content-padding-bottom}
    );
    max-width: #{$max-width - 2 * $app-padding-normal};
  }
}

@media #{$medium} {
  .single-photo {
    img {
      max-width: calc(100vw - #{2 * $app-padding-medium});
    }
  }
}

@media #{$medium} {
  .single-photo {
    img {
      max-width: 100%;
    }
  }
}

.carousel-links {
  font-size: 0.9em;
  text-align: center;
  color: #4a4a4a;
  .inactive {
    color: #dddddd;
  }
  a {
    color: #4a4a4a;
  }
}
